section header {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.5rem 4rem;
  background: #791B99;
  justify-content: space-between;
}

section header h1 {
  flex: 1;
  font-size: 2.4rem;
  font-weight: bold;
}

section header h1 > a {
  color: #fff;
}

section header .navbar-burger {
  flex: 1;
  display: flex;
  padding-right: 0.5rem;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

section header .navbar-burger span {
  width: 2.5rem;
  height: 0.3rem;
  background: #fff;
  border-radius: 1rem;
  box-sizing: border-box;
}

section header .navbar-burger span:nth-child(2) {
  margin: 0.5rem 0;
}

section header nav {
  display: flex;
  justify-content: flex-end;
}

section header nav a {
  color: #fff;
  display: block;
  padding: 0 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}

/* responsive */

@media screen and (max-width: 768px) {
  section header {
    padding: 2.5rem 1rem;
  }

  section header h1 {
    font-size: 1.5rem;
  }

  section header nav {
    display: none;
  }

  section header nav[class~="is-active"]{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
  }

  section header .navbar-burger {
    flex: 0;
    display: flex;
  }

  section header .navbar-burger[class~="is-active"] span:first-child{
    height: 0.1rem;
    transform: translateY(1px) rotate(45deg)
  }

  section header .navbar-burger[class~="is-active"] span:nth-child(2) {
    display: none;
  }

  section header .navbar-burger[class~="is-active"] span:last-child {
    height: 0.1rem;
    transform: translateY(-1px) rotate(-45deg);
  }

}

@media screen and (min-width: 768px) {
  section header .navbar-burger {
    display: none;
  }
}
/* header end */