@import url('./components/_header.css');
@import url('./components/_footer.css');

section .content .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

section .content .row:last-child {
  margin-bottom: 0;
}

section .content .slogan {
  min-height: 25rem;
  position: relative;
}

section .content .slogan .description {
  flex: 1;
  background: url('../../assets/images/bg-slogan.jpg');
  background-size: cover;
}

section .content .slogan .slogan-content {
  top: 50%;
  left: 50%;
  z-index: 1;
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* slogan end */
section .content .link {
  justify-content: space-between;
}

section .content .link .item {
  flex: 1;
}

section .content .link .item:first-child {
  margin-right: 2rem;
}

section .content .link .item .thumbnail {
  width: 100%;
  height: 16rem;
}

section .content .link .item .study {
  background: url('../../assets/images/bg-home-study.jpg');
  background-size: cover;
}

section .content .link .item .research {
  background: url('../../assets/images/bg-home-research.jpg');
  background-size: cover;
}

section .content .link .item {
  width: 100%;
}
/* link end */

section .content .quote {
  display: flex;
  height: 14rem;
  border: 1px solid gray;
}

section .content .quote .arrtibution {
  flex: 1;
}

section .content .quote .thumbnail {
  width: 30%;
  height: 100%;
  background: url('../../assets/images/bg-home-quote.png');
  background-size: cover;
}
/* quote end */

section .content .news .item {
  flex: 1;
}

section .content .news .item:nth-child(2n + 2) {
  margin: 0 2rem;
}

section .content .news .item .thumbnail {
  width: 100%;
  height: 10rem;
}

section .content .news .item .news-1 {
  background: url('../../assets/images/bg-home-news-1.jpg');
  background-size: cover;
}
section .content .news .item .news-2 {
  background: url('../../assets/images/bg-home-news-2.jpg');
  background-size: cover;
}
section .content .news .item .news-3 {
  background: url('../../assets/images/bg-home-news-3.jpg');
  background-size: cover;
}


/* content end */

/* responsive */
@media screen and (max-width: 768px) {
  section .content .row {
    flex-direction: column;
  }

  section .content .news .item:nth-child(2n + 2) {
    margin: 0;
  }

  section .content .slogan .slogan-content {
    top: 0;
    left: 0;
    transform: none;
    position: inherit;
  }

  section .content .quote {
    border: none;
    font-size: 2rem;
  }

  section .content .quote .thumbnail {
    display: none;
  }

  section .content .slogan .slogan-content {
    color: black;
  }
}