@import url('./components/_header.css');
@import url('./components/_footer.css');

section .content .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

section .content .row:last-child {
  margin-bottom: 0;
}

section .content .slogan {
  min-height: 25rem;
  position: relative;
}

section .content .slogan .description {
  flex: 1;
  background: url('../../assets/images/bg-slogan.jpg');
  background-size: cover;
}

section .content .slogan .slogan-content {
  top: 50%;
  left: 50%;
  width: 80%;
  z-index: 1;
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
}

  section .content .slogan .slogan-content h2 {
    width: 100%;
    margin: 1rem 0;
  }

/* slogan end */
section .content .link {
  justify-content: space-between;
}

section .content .link .item {
  flex: 1;
}

section .content .link .item:first-child {
  margin-right: 2rem;
}

section .content .link .item .thumbnail {
  width: 100%;
  height: 16rem;
}

section .content .link .item .study {
  background: url('../../assets/images/bg-home-study.jpg') center;
  background-size: cover;
}

section .content .link .item .research {
  background: url('../../assets/images/bg-home-research.jpg') center;
  background-size: cover;
}

section .content .link .item .introduce {
  padding: 0 0.5rem;
}

section .content .link .item .introduce > a {
  margin: 1rem 0;
  display: block;
}

section .content .link .item {
  width: 100%;
}
/* link end */

section .content .quote {
  display: flex;
  min-height: 17rem;
}

section .content .quote .arrtibution {
  flex: 1;
  color: #fff;
  padding: 0.5rem;
  background: #A993FF;
}

section .content .quote .arrtibution .quote-student {
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

section .content .quote .arrtibution .quote-student:nth-child(3) {
  padding: 1rem 0;
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
}

section .content .quote .thumbnail {
  width: 30%;
  background: url('../../assets/images/bg-home-quote.jpg') center;
  background-size: cover;
}
/* quote end */

section .content .news .item {
  flex: 1;
}

section .content .news .item:nth-child(2n + 2) {
  margin: 0 2rem;
}

section .content .news .item .thumbnail {
  width: 100%;
  height: 10rem;
}

section .content .news .item .introduce {
  padding: 0 0.5rem;
}

section .content .news .item .introduce > p {
  margin: 0.5rem 0;
  word-break: break-all;
}

section .content .news .item .news-1 {
  background: url('../../assets/images/bg-home-news-1.jpg') center;
  background-size: cover;
}
section .content .news .item .news-2 {
  background: url('../../assets/images/bg-home-news-2.jpg') center;
  background-size: cover;
}
section .content .news .item .news-3 {
  background: url('../../assets/images/bg-home-news-3.jpg') center;
  background-size: cover;
}


/* content end */

/* responsive */
@media screen and (max-width: 768px) {
  section .content .row {
    flex-direction: column;
  }

  section .content .news .item:nth-child(2n + 2) {
    margin: 0;
  }

  section .content .slogan .slogan-content {
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
    position: inherit;
  }

  section .content .quote {
    border: none;
    font-size: 2rem;
  }

  section .content .quote .thumbnail {
    display: none;
  }

  section .content .slogan .slogan-content {
    color: black;
  }

  section .content .link .item {
    margin: 2rem 0;
    box-shadow: 0 0 10px #9A55B2;
  }

  section .content .news .item {
    margin: 1rem 0;
    box-shadow: 0 0 10px #9A55B2;
  }
}