@import url('./components/_header.css');
@import url('./components/_footer.css');

section .content .title {
  margin-bottom: 1rem;
}

section .content .item {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}

section .content .item .thumbnail {
  flex: 1;
  height: 18rem;
}

section .content .item .content {
  flex: 1;
  padding: 0 0.2rem;
}